body {
  font-size: medium;
}

.todaytotal {
  margin-bottom: 0;
}

.todaylog {
  margin-bottom: 0;
}

.subjects input {
  text-align: center;
  background-color: white;
}

.subject-card {
  border: 1px solid black;
}

.timetable-row {
  display: flex;
  height: 20px;
  line-height: 20px;
  background: white;
  border-style: none none solid none;
  border-width: 0.5px;
  border-color: #00000033;
}

.timetable-time {
  flex-shrink: 0;
  width: 30px;
  font-size: 5px;
  text-align: center;
  border-style: none solid none none;
  border-width: 0.5px;
  border-color: #00000033;
}

.timetable-cell {
  flex: 1;
}

.timetable-ten {
  border-style: none solid none none;
  border-width: 0.5px;
  border-color: #00000033;
}